{% extends "base.html"%}

{% block content%}


<form action="{% url 'submit_contact' %}" method="post">
    {% csrf_token %}
    <!-- Name Input -->
    <label for="name">Name:</label>
    <input class="input-field" type="text" id="name" name="name" required>
    <br>

    <!-- Address Input -->
    <label for="address">Address:</label>
    <input class="input-field" type="text" id="address" name="address" required>
    <br>

    <!-- Email Input -->
    <label for="email">Email:</label>
    <input class="input-field" type="email" id="email" name="email" required>
    <br>

    <!-- Phone Number Input -->
    <label for="phone">Phone Number:</label>
    <input class="input-field" type="tel" id="phone" name="phone" required>
    <br>
     <div class="note">this is django form</div>
    {{form}}

    <!-- Submit Button -->
    <button type="submit">Submit</button>
</form>


{% endblock %}




