/* styles.css */

h2 {
    color: #333;
}

form {

    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    margin-top:10%;
    border: 1px solid #c4b5b5;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 5px;
}

.input-field{
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

button {
    background-color: #007bff;
    color: #fff;
    padding: 10px;

}

.note{
    background-color: rgb(68, 50, 50);
    color: rgb(194, 177, 177);
    size:2ev;
}